.App {
  background-color: aqua;
}

.App1 {
  font-family: sans-serif;
  text-align: center;
  color: brown;
}

.profile-pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.App > div:nth-child(1) > .profile-pic {
  border-radius: 0px;
}
